---
layout: default
---

<!-- Navigation start -->

<header class="header">
	<nav class="navbar navbar-custom">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">ckaserer</a>
			</div>
			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a href="#home">home</a></li>-->
					<li><a href="index.html">about</a></li>
					<li><a href="services.html">service</a></li>
					<!--<li><a href="#portfolio">work</a></li>-->
					<!--<li><a href="#testimonial">Testimonial</a></li>-->
					<li class="active"><a href="blog.html">blog</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- Navigation end -->

<!-- Blog start -->

<section id="blog-page" class="module fullscreen">
	<div class="container">
		<div class="row">

			<div class="module-header">
				<h2 class="module-title">
					Blog
					<span>Blog</span>
				</h2>
				<div class="module-line"></div>
			</div>

		</div><!-- .row -->

		<!-- Blog Filter start-->

		<div class="row">

			<div class="col-sm-12">

				<ul id="filter">
					<li class="active" data-group="all">All</li>
					{% assign categories = site.posts | map: 'category' | uniq %}
						{% for category in categories %}
						<li data-group="{{ category }}">{{ category }}</li>
					{% endfor %}
				</ul>

			</div>

		</div><!-- .row -->

		<!-- Blog Filter end -->

		<ul class="list-items-container blog-wrapper">

			{% for post in site.posts %}

			<li class="list-item" data-groups="all {{ post.category }}">
				<a href="{{site.baseurl}}{{post.url}}" class="blogList wow fadeInUp">
					<div class="blogList-img">
						<img src="{{ "/assets/images/" | append: post.banner_preview | prepend: site.baseurl }}" alt="Blog Desc">
						<span>{{ post.category }}</span>
					</div>
					<div class="blogList-desc">
						<h3>{{ post.title }}</h3>
						<div>{{ post.description }}</div>
					</div>
				</a>
			</li>

			{% endfor %}


		</ul><!-- .projects-container -->
	</div><!-- .contaier -->

</section>

<!-- Blog start -->