<!-- Navigation start -->

<header class="header">

	<nav class="navbar navbar-custom">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html">Clemens Kaserer</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a href="#home">home</a></li>-->
					<li><a href="{{ site.url }}/index.html">about</a></li>
					<li><a href="{{ site.url }}/services.html">service</a></li>
					<!--<li><a href="#portfolio">work</a></li>-->
					<!--<li><a href="#testimonial">Testimonial</a></li>-->
					<li><a href="{{ site.url }}/blog.html">blog</a></li>
					<li><a href="{{ site.url }}/contact.html">contact</a></li>
				</ul>
			</div>

		</div><!-- .container -->

	</nav>

</header>

<!-- Navigation end -->